.centered-circle {
  text-align: -webkit-center;
  margin-top: 6vh;
  padding-bottom: 50rem;

  h1 {
    position: relative;
    top: 15.5vh;
    width: fit-content;
    z-index: 1;
    color: #fff;
  }
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #d9819d;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: spin 2s linear infinite;
    background: #d9819d;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
